.ajax_page_container {
  min-height: 100vh;
  padding: 50px 0 100px;
  /* padding: 30px 20px 100px 20px; */
  align-items: center;
  background-image: linear-gradient(45deg, red, white 40%, white 60%, blue);
  /* overflow-x: hide; */
  /* to top right, blue, pink); */
}

.ajax_intro_container {
  width: 100%;
  background-color: rgb(242, 255, 252);
  border-radius: 20px;
  padding: 20px;
}

.inactive {
  display: none;
}

.header_container {
  height: 90px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  margin: auto;
}

.header_background {
  height: 100%;
  width: 110vw;
  min-width: calc(100vw + 160px);
  transform: translateX(-160px);
  background-image: url("../../public/Ajax/landscape-v2.jpg");
  background-size: contain;
  animation: 1s linear background_shift;
  animation-iteration-count: infinite;
}

@keyframes background_shift {
  from {
    transform: translateX(-160px);
  }
  to {
    transform: translateX(0px);
  }
}

.header_gif {
  position: absolute;
  right: 48vw;
  bottom: 13px;
  width: 80px;
}

.ajax_page_content {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}

.selector_container {
  padding-bottom: 30px;
  max-width: 500px;
  margin: auto;
}

.country_selector {
  font-size: clamp(21px, 7vw, 32px);
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.country_content {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: aliceblue;
  border-radius: 20px;
}

.split_content {
  margin: auto;
  padding: 20px;
}

.detail_container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.detail_title,
.details {
  margin: 10px 10px 10px 0;
}

.country_name {
  font-size: clamp(27px, 9vw, 54px);
}

.country_flag {
  max-width: 100%;
  border-radius: 10px;
}

.side_menu {
  display: flex;
}

.menu_item {
  font-weight: bold;
}

.bitcoin_container {
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
}

.bitcoin_title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.bitcoin_title_text {
  margin: auto 0;
}

@media screen and (min-width: 500px) {
  .ajax_page_content {
    flex-direction: row;
  }

  .country_content {
    flex-direction: row;
    justify-content: space-between;
  }

  .split_content {
    width: 45%;
  }

  .side_menu {
    min-height: 60vh;
    min-width: 150px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: aliceblue;
    margin: 0 20px 0 0;
    padding: 20px;
    border-radius: 20px;
  }

  .menu_item {
    cursor: pointer;
  }
}
